<div class="row">
    <div class="main">
        <div class="card">
            
            <form #form1="ngForm" (ngSubmit)="process(form1)">
                <div class="container">
                    <h1>Personal Details Farmer</h1>
                    <label  for="uname"><b>Full Name  </b></label>
                    <input class="f1" type="text" placeholder="Enter Full Name " name="uname" required minlength="3" [(ngModel)]=register.uname #uname="ngModel"><br/>
                  
                    <div *ngIf="form1.submitted && uname.invalid">
                        <div class="error" *ngIf="uname.errors.required">
                          Name is required.
                        </div>
                        <div class="error" *ngIf="uname.errors.minlength">
                          Name must be at least 3 characters long.
                        </div>
                      </div>

                    <label  for="contact"><b>Contact Number  </b></label>
                    <input class="f2" type="text" placeholder="Enter Contact" name="contact" required minlength="10" [(ngModel)]=register.contact #contact="ngModel"><br/>

                    <div *ngIf="form1.submitted && contact.invalid">
                        <div class="error" *ngIf="contact.errors.required">
                          Contact Number is required.
                        </div>
                        <div class="error" *ngIf="contact.errors.minlength">
                          Enter a valid Contact Number
                        </div>
                      </div>

                    <label for="email"><b>Email id  </b></label>
                    <input class="f3"  type="email" placeholder="Enter Email @abc.com" name="email" required [(ngModel)]=register.email #email="ngModel"><br/>

                    <div *ngIf="form1.submitted && email.invalid">
                        <div class="error" *ngIf="email.errors.required">
                          Email is required.
                        </div>
                      </div>

                    <div class="d1">Address Details</div>
                    <input class="a1" type="text" placeholder="Line 1" required [(ngModel)]=register.address.line1 #line1="ngModel"><br/>


                    <input class="a1" type="text" placeholder="Line 2" required [(ngModel)]=register.address.line2 #line="ngModel"><br/>

                    <label for="state"><b>State </b></label> <input class="a2" type="text" name="state" required [(ngModel)]=register.address.state #state="ngModel" ><br/>
                   
                    <div *ngIf="form1.submitted && state.invalid">
                        <div class="error" *ngIf="state.errors.required">
                          State is required.
                        </div>
                    </div>

                    <label for="city"><b>City </b></label> <input class="a3"  type="text" name="city"[(ngModel)]=register.address.city #contact="ngModel" ><br/>
                   
                    <div *ngIf="form1.submitted && state.invalid">
                        <div class="error" *ngIf="state.errors.required">
                          City is required.
                        </div>
                    </div>

                    <label for="pin"><b>Pin </b></label> <input class="a4"  type="text" name="pin" required minlength="6"  [(ngModel)]=register.address.pin #pin="ngModel" ><br/>
                   
                    <div *ngIf="form1.submitted && pin.invalid">
                    <div class="error" *ngIf="pin.errors.required">
                        Pin Code  is required.
                      </div>
                      <div class="error" *ngIf="pin.errors.minlength">
                        Enter a valid Pin Code
                      </div>
                    </div>

                    <div class="d1">Bank Details</div>
                    <label for="account"><b>Account Number  </b></label> <input class="b1" type="text" name="account" required minlength="10" [(ngModel)]=register.account.accountno #account="ngModel"><br/>
                    <div *ngIf="form1.submitted && account.invalid">
                        <div class="error" *ngIf="account.errors.required">
                            Account Number  is required.
                          </div>
                          <div class="error" *ngIf="account.errors.minlength">
                            Enter a Account Number.
                          </div>
                        </div>
                    <label for="ifsc"><b>IFSC  </b></label> <input class="b2" type="text" name="ifsc" [(ngModel)]=register.account.ifsc #ifsc="ngModel"><br/>
                   
                    <div *ngIf="form1.submitted && ifsc.invalid">
                        <div class="error" *ngIf="ifsc.errors.required">
                            IFSC Code is required.
                          </div>
                          <div class="error" *ngIf="ifsc.errors.minlength">
                            Enter a valid IFSC Code
                          </div>
                        </div>
                    <div class="doc">Document</div>
                    <label for="aadhar"><b>Aadhar </b></label> <input class="d1" type="text" name="aadhar" required minlength="12"  [(ngModel)]=register.document.addhar #addhar="ngModel">
                                                               <input class="df1" type="file" name="aadharfile" required=true [(ngModel)]=register.document.addharfile><br/>

                    <div *ngIf="form1.submitted && addhar.invalid">
                        <div class="error" *ngIf="addhar.errors.required">
                            Addhar Card Number is required.
                          </div>
                          <div class="error" *ngIf="addhar.errors.minlength">
                            Enter a valid Addhar Number
                          </div>
                        </div>

                    <label for="pan"><b>PAN  </b></label> <input class="d2" type="text" name="pan"  required minlength="8" [(ngModel)]=register.document.pan #pan="ngModel">
                                                          <input class="df2" type="file" name="panfile"  required=true [(ngModel)]=register.document.panfile ><br/>
                                                          
                                                           
                        <div *ngIf="form1.submitted && pan.invalid">
                        <div class="error" *ngIf="pan.errors.required">
                            Pan Card Number  is required.
                          </div>
                          <div class="error" *ngIf="pan.errors.minlength">
                            Enter a valid Pan Card.
                          </div>
                        </div>

                        <label for="password"><b>Password  </b></label> <input class="pass1" type="text" name="pass1"  required minlength="8" [(ngModel)]=register.password #pass="ngModel"><br/>
                        <label for="confirm"><b>Confirm Password  </b></label> <input class="pass2" type="password" name="pass2"  required minlength="8" [(ngModel)]=register.confirmPassword #pass="ngModel"><br/>
                       
                        <div *ngIf="form1.submitted && pass.invalid">
                            <div class="error" *ngIf="pass.errors.required">
                                Enter PassWord.
                              </div>
                              <div class="error" *ngIf="pass.errors.minlength">
                                Minimun length of Password is 8
                              </div>
                            </div>

                </div>
                    <br>
                <div>
                    <button  class="button1" type="submit" >Register</button>
                    <button  class="button2" (click)="reset()" >Reset</button><br>
                </div>
            </form>
        </div>
    </div>
</div>
