
.body1{
	margin:20px;
    margin-top:50px;
    margin-bottom:50px;
	margin-right:100px;
	margin-left:170px;
	background-color: white;
	border-style:solid;
	border-color:#0080109e;
	height:auto;
    width:1000px;
    padding-bottom: 30px;
}